* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.favourites {
  margin: 40px;
}
.favCoctail,
.drink {
  list-style: none;
}
.imgDrink {
  width: 70px;
}

.fav {
  background-color: rgb(171, 74, 193);
}
